* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.navbar {
    background-color: #f1f3f4 !important;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.flexNav {
    display: flex !important;
    justify-content: space-between !important;
}

.btnHelp {
    background-color: #75BF7A !important;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
}

.nav-item {
    margin-right: 20px !important;
    color: black !important;
    font-weight: 500;
}

.nav-link {
    color: black !important;
    font-weight: 500;
}

.btnToggle {
    padding: 5px;
    border: none;
    background-color: transparent;
}

@media only screen and (min-width: 1024px) {
    .btnToggle {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .respItems {
        margin-top: 15px;
        text-align: center;
    }

    .nav-item {
        margin-bottom: 14px
    }

    .btnHelp {
        background-color: #75BF7A !important;
        color: white;
        border-radius: 5px;
        border: none;
        padding: 8px 16px;
    }
}

.headingDesig {
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
}



.paraDesign {
    font-size: 24px;
    line-height: 28px;
    margin-top: 20px;
    color: gray;
}

@media only screen and (max-width: 768px) {
    .heroImg {
        width: 90%;
    }
}

@media only screen and (min-width: 768px) {
    .contWidth {
        width: 50%;
    }
}

@media only screen and (max-width: 425px) {
    .headingDesig {
        font-weight: 700;
        font-size: 25px;
        line-height: 35px;
    }

    .paraDesign {
        font-size: 20px;
        line-height: 28px;
        margin-top: 10px;
        color: gray;
    }

    .downBtn {
        width: 130px;
    }
}


.mtop {
    padding-top: 100px !important;
}

.formBg {
    background-color: #75BF7A;
    height: 180px;
    margin-top: 50px;
    border-radius: 10px;
    padding: 0px 40px;
}

@media only screen and (max-width : 425px) {

    .formBg {
        background-color: #75BF7A;
        margin-top: 30px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 260px;
    }

}

.widthInput {
    width: 400px !important;
    height: 50px;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
}


.btnPhone {
    height: 50px;
    width: 150px !important;
    border-radius: 2px;
    background-color: #000;
}

.paraLets {
    width: 250px;
    font-size: 1.5em;
    color: white;
    font-weight: 500;
}

.paraLets>p {
    margin-bottom: 0px;
}

@media only screen and (max-width: 768px) {
    .widthInput {
        width: 100% !important;
        height: 40px;
        padding: 10px;
        outline: none;
        border: none;
        margin-bottom: 10px;
        border-radius: 0px;
    }

    .btnPhone {
        height: 40px;
        width: 130px !important;
        border-radius: 2px;
        background-color: #000;
        margin: auto;
        display: flex;
        justify-content: center;
    }

    .paraLets {
        font-size: 22px;
        width: 200px;
    }
}

.btnPhone:hover {
    background-color: #0a0a0a !important;
}

.TereHead {
    color: #75BF7A;
    font-weight: bold;
}

.terePara {
    color: gray;
    margin-top: 10px;
}

.widthTere {
    width: 50%;
    margin: auto;
}